{% extends 'base.html' %}
{% block container %}
<main class="container mt-3">
  <div class="card my-4 mx-auto">
    <div class="card-body m-2 m-md-4">
      <article class="row">
      <div class="col-5"><img src="{{ teachers.picture }}" class="img-fluid" alt=""></div>
        <div class="col-7">
          <section class="teacher=info">
          <h1 class="h2">{{ teachers.name }}</h1>
          <p>
            {% for goal in goals %}
            <span class="badge badge-secondary mr-2">{{ goal.goal_value_ru }}</span>
            {% endfor %}
             Рейтинг: {{ teachers.rating }} Ставка: {{ teachers.price }} / час
            </p>
            <p>{{ teachers.about }}</p>
          </section>
          <section class="available">
            <h4 class="mb-4 mt-5">Записаться на пробный урок</h4>
            {% for day in days  %}
              <h6 class="mt-4">{{ day.day_value_ru }}</h6>
            {% set ns = namespace(counter=false) %}
              {% for time, freetime in teachers.free[day.day_key_en].items() %}
                {% if freetime == true %}
                  <a href="/booking/{{ id }}/{{ day.day_value_ru }}/{{ time }}/" class="btn btn-outline-success mr-2 mb-2">{{ time }} свободно</a>
                {% elif freetime == false %}
                  {% set ns.counter = ns.counter+1 %}
                {% endif %}
                {% if ns.counter == 8 %}
                  <p>Нет свободных уроков</p>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </section>
        </div>
      </article>
    </div>
  </div>
</main>
{% endblock %}